# 
# variables
# 
    export camera_port_number=8080
    export rosbridge_port_number=9093
    # export host_ip_address="192.168.192.52" # a value here overrides the auto-detect
    export catkin_dir="./catkin_ws"
    export server_folder="$catkin_dir/src/sb_master/sb_web"

# 
# install ros & moveit
# 
    if ! [ -f "stuff_was_installed.ignore" ]
    then
        echo "Looks like 'stuff_was_installed.ignore' doesn't exist"
        echo "(so I'll install things)"
        echo "this should take about 10min"
        
        # 
        # install stuff for a nodejs version
        # 
        sudo apt-get update && \
            sudo apt-get install -y curl && \
            curl -fsSL https://deb.nodesource.com/setup_16.x | sudo -E bash -
        
        # install rust
        curl https://sh.rustup.rs -sSf | sh && \
            . "$HOME/.cargo/env"
        
        echo "disabling firewall"
        sudo ufw disable
        
        # 
        # install ROS and Moveit
        # 
        ./ros_install_noetic.sh && \
            sudo apt-get update && \
            sudo apt-get install -y \
                python3-pip \
                ros-noetic-rosbridge-suite \
                python3-rosdep \
                ros-noetic-moveit \
                ros-noetic-moveit-commander \
                ros-noetic-rosserial \
                nodejs \
                npm \
                && \
            touch stuff_was_installed.ignore
        
        # install sd
        cargo install sd
        
        # install deno
        curl -fsSL https://deno.land/x/install/install.sh | sh
        export PATH="$HOME/.deno/bin:$PATH"
        deno install -n archy -A https://deno.land/x/archaeopteryx/mod.ts
        
        # install http-server
        npm install http-server
    else
        echo "I see 'stuff_was_installed.ignore' so I'll skip installing stuff"
    fi
    
# 
# catkin make if needed
# 
    # if doesn't exist, make it
    if ! [ -d "$catkin_dir/devel" ]
    then
        builtin cd "$catkin_dir"
        catkin_make
        sudo rosdep init
        rosdep update

        rosdep install --from-paths src --ignore-src -r -y
        builtin cd - 1>/dev/null
    fi

# 
# source things
# 
    # check if file exists
    if [ -f "/opt/ros/noetic/setup.bash" ]
    then
        builtin cd /opt/ros/noetic/
        source /opt/ros/noetic/setup.bash
        builtin cd - 1>/dev/null
    fi
    
    if [ -d "$catkin_dir/devel" ]
    then
        builtin cd "$catkin_dir/devel"
        source "./setup.bash"
        builtin cd - 1>/dev/null
    fi
    
    # Cargo executables
    cargo_source="$HOME/.cargo/env"
    if [ -d "$cargo_source" ]
    then
        . "$cargo_source"
    fi
    
    # Deno executables
    export PATH="$HOME/.deno/bin:$PATH"
    
    # fix missing libeigenpy.so
    export LD_LIBRARY_PATH="$LD_LIBRARY_PATH:/opt/ros/noetic/lib/x86_64-linux-gnu/:/opt/ros/noetic/lib/"
    
    # cuda (specifically for onnxruntime)
    export PATH="/usr/local/cuda/bin:$PATH"
    export LD_LIBRARY_PATH="/usr/local/cuda/lib64:$LD_LIBRARY_PATH"
    